.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* Position the autocomplete items to be the same width as the container */
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /* When hovering an item */
    background-color: #e9e9e9;
}

.autocomplete-active {
    /* When navigating through the items using the arrow keys */
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
