.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* Position the autocomplete items to be the same width as the container */
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /* When hovering an item */
    background-color: #e9e9e9;
}

.autocomplete-active {
    /* When navigating through the items using the arrow keys */
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px;
    margin-top: 20px;
    width: 100%; /* Ensure full width */
}

.grid-item {
    padding: 20px;
    border: 1px solid #d4d4d4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust width for grid items */
}

.grid-item a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

/* Responsive grid for smaller screens */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}
