/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style for the main container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Style for search container */
.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #4cae4c;
}

/* Style for filter and sort controls */
.filter-sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container, .sort-container {
    margin: 0 10px;
}

/* Style for the recipe grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px;
}

.grid-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
}

.recipe-details h3 {
    margin-top: 0;
}

/* Style for autocomplete dropdown */
.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Adjust the height of the grid container to accommodate the loader */
.grid-container {
    min-height: 200px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }

    .search-container input[type="text"], .search-container button {
        width: 100%;
        margin: 10px 0;
    }
}

/* Additional responsive adjustments and custom styles as needed */
