<!DOCTYPE html>
<html>
<head>
    <title>Recipe Matcher</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='dynamic_fields.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Recipe Matcher</h1>
        <div class="search-container">
            <input type="text" id="quickSearchInput" placeholder="Search recipes or ingredients" class="ingredientInput" autocomplete="off">
            <button id="searchButton">Search</button>
        </div>
        <div id="searchResults" class="grid-container">
            {% for recipe in recipes %}
                <a href="/recipe-page?recipe={{ recipe.id }}" class="grid-item">
                    <div class="recipe-image">
                        {% if recipe.image %}
                            <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                        {% endif %}
                    </div>
                    <div class="recipe-details">
                        <h3>{{ recipe.name }}</h3>
                        <p>Rating: {{ recipe.rating | default('N/A') }}</p>
                        <p>Reviews: {{ recipe.rating_count | default('0') }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
