<!DOCTYPE html>
<html>
<head>
    <title>Recipe Matcher</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='dynamic_fields.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Recipe Matcher</h1>
        <div class="search-container">
            <input type="text" id="quickSearchInput" placeholder="Search recipes or ingredients" class="ingredientInput" autocomplete="off">
            <button id="searchButton">Search</button>
        </div>
    </div>
</body>
</html>
