<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='dynamic_fields.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Recipe Search</h1>
        <form action="/search" method="post" id="searchForm">
            <div id="ingredientFields">
                <div class="ingredientField">
                    <label>Ingredient:</label>
                    <input type="text" name="ingredient" class="ingredientInput" autocomplete="off">
                </div>
            </div>
            <button type="button" id="addIngredientBtn" class="btn">Add Another Ingredient</button>
            <input type="submit" value="Search" class="btn">
        </form>
    </div>
</body>
</html>
